@font-face {
    font-family: 'tiempos-text';
    src: url('https://github.com/devon-bwevents/zapconnect25-fonts/raw/refs/heads/main/tiempos-text-italic.woff2') format('woff2'),
    url('https://github.com/devon-bwevents/zapconnect25-fonts/raw/refs/heads/main/tiempos-text-italic.woff2') format('woff');
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: 'tiempos-text';
    src: url('https://github.com/devon-bwevents/zapconnect25-fonts/raw/refs/heads/main/tiempos-text-regular.woff2') format('woff2'),
    url('https://github.com/devon-bwevents/zapconnect25-fonts/raw/refs/heads/main/tiempos-text-regular.woff2') format('woff');
    font-weight: 100 900;
    font-style: normal;
}
