@font-face {
    font-family: 'tiempos-text';
    font-style: italic;
    font-weight: 100 900;
    src: url('https://devon-bwevents.github.io/zapconnect25-fonts/tiempos-text-italic.woff2') format('woff2');
}

@font-face {
    font-family: 'tiempos-text';
    font-style: normal;
    font-weight: 100 900;
    src: url('https://devon-bwevents.github.io/zapconnect25-fonts/tiempos-text-regular.woff2') format('woff2');
}
